.first {
    height: 330px !important;
    background-position: center -200px;
}

.first h1, .first .description {
    float: left;
    width: 100%;
    text-align: center;
    color: #FFF;
    margin-top: 55px;
    font-size: 44px;
}

.first .description {
    float: left;
    width: 40%;
    margin: 25px 30%;
    font-size: 18px;
}

.second `{
    min-height: 100vh;
    height: auto;
}

.contact-form {
    float: left;
    width: 45%;
    height: auto;
    padding: 60px 30px;
    border: 1px solid #DDD;
    border-radius: 3px;
}

input[type="text"], input[type="tel"], input[type="email"], textarea {
    float: left;
    border-radius: 3px;
    border: 1px solid #999;
    outline: none;
    padding: 10px;
    font-size: 16px;
}

input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus, textarea:focus {
    border: 1px solid #01aaed;
}

#name, #message {
    width: calc(100% - 20px);
}

#email, #phone {
    width: calc(48% - 20px);
    margin: 20px 0px;
}

#phone {
    float: right;
}

#message {
    min-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    min-height: 160px;
    max-height: 300px;
}

.g-recaptcha {
    float: left;
    margin-top: 20px;
    margin-left: calc(50% - 152px);
}

.submit {
	letter-spacing: 1px;
	cursor: pointer;
	float: left;
	margin-top: 40px;
    margin-left: calc(50% - 51px);
	padding: 10px 25px;
    font-size: 18px;
	color: #01aaed;
	background: transparent;
    transition: all 0.13s linear;
	border: 1px solid #01aaed;
	border-radius: 3px;
}

.submit:hover {
    color: #FFF;
    background: #01aaed;
}

.right {
    width: 45%;
    height: auto;
    float: right;
}

.sect-title {
    float: left;
    width: 100%;
    height:  auto;
    color: #01aaed;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.right .description {
    float: left;
    width: 100%;
    height: auto;
    color: #999;
    font-size: 18px;
    margin-bottom: 20px;
}

.maps {
    border: none;
    width: 100%;
    height: 400px;    
}

@media screen and (max-width: 900px) {
    .contact-form, .right {
        width: 70%;
        margin: 30px 15%;
        float: left;
    }
    
    .contact-form {
        width: calc(70% - 60px);
    }
    
    .first .description {
        width: 90%;
        font-size: 24px;
        margin: 20px 5%;
    }
    
    .sect-title, .right .description {
        text-align: center;
    }
}

@media screen and (max-width: 640px) {
    .contact-form, .right {
        width: 100%;
        margin: 30px 0%;
        float: left;
    }
    
    .contact-form {
        width: calc(100% - 60px);
    }
    
    .first {
        height: 45vh !important;
    }
    
    .first .description {
        font-size: 20px;
    }
}