.first {
    position: static;
    height: 330px !important;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}

.minimal {
    height: 190px !important;
}

.first h1 {
    float: left;
    width: 100%;
    text-align: center;
    color: #FFF;
    margin-top: 70px;
    font-size: 44px;
}

.first .searchbox {
    float: left;
    width: 40%;
    margin: 25px 30%;
}

.searchbox .search {
    float: left;
    width: 100%;
    height: 40px;
    border: none;
    padding: 10px 20px;
    margin: 25px 0px;
    font-size: 16px;
    color: #333;
    border-radius: 3px;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.first .search-focus {
    position: fixed;
    width: 110%;
    margin: 0px -5%;
    bottom: 0px;
    z-index: 5;
}

.search-focus > .search {
    height: 60px;
    margin: 0px;
    border-radius: 0px;
}

.second {
    height: auto;
    padding-bottom: 100px;
}

.search-results {
    float: left;
    width: 100%;
    height: 100px;
    background: #FFF;
    overflow-x: hidden;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}


@media screen and (max-width: 800px) {

}

@media screen and (max-width: 480px) {
    .first h1, .first .description {
        width: 100%;
        font-size: 8vmin;
    }
    
    .first .description {
        font-size: 16px;
        margin: 25px 0px;
    }
    
    footer {
        padding-bottom: 80px !important;
    }
    
    .goTop {
        bottom: 90px;
    }
}