a {
  text-decoration: none;
}

.first {
    position: static;
    height: 330px !important;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}

.minimal {
    height: 190px !important;
}

.first h1 {
    float: left;
    width: 100%;
    text-align: center;
    color: #FFF;
    margin-top: 70px;
    font-size: 46px;
}

.second {
    height: auto;
    padding-bottom: 100px;
}

.faq-frame {
    padding-bottom: 40px;
}

#searchBox {
    width: calc(50% - 16px);
    height: 44px;
    margin: 30px 25%;
    padding: 8px;
    float: left;
    display: block;
    outline: none;
    background: #FFF;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.33);
    border: none;
}

#searchBox:focus {
    box-shadow: 0 0 0 3px #01aaed;
}

.faq-wrapper {
    width: 100%;
    height: auto;
    min-height: 256px;
    float: left;
}

.faq-category {
    width: 25%;
    height: 200px;
    margin-top: 20px;
    float: left;
}

.faq-category > a {
    float: left;
    width: calc(100% - 20px);
    height: auto;
    padding: 10px;
    background-color: #EEE;
    color: #333;
    border: none;
    border-radius: 5px;
    margin-bottom: 7px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.faq-category > a:hover {
    color: #01aaed;
}

.active, .active:hover {
    color: #FFF !important;
    background-color: #01aaed !important;
}

#myUL {
    float: right;
    width: 75%;
    height: auto;
    list-style-type: none;
    margin-bottom: 50px;
}

#myUL > li {
    float: left;
    width: calc(90% - 40px);
    height: auto;
    padding: 20px;
    margin: 20px 5%;
    margin-bottom: 0px;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.tutorial,
.tools,
.finance,
.other {
  display: none;
}

li > .title {
    float: left;
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    color: #01aaed;
}

li > .descr {
    float: left;
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
    color: #222;
}

.more-content {
  float: left;
  width: 100%;
  height: auto;
  font-size: 18px;
  color: #333;
  text-align: center;
}

li > .descr > a, .more-content > a {
  color: #01aaed;
}

@media screen and (max-width: 1280px) {
    .card-holder > .card > svg {
        width: 48px;
        height: 48px;
        margin-left: calc(50% - 24px);
    }
}

@media screen and (max-width: 1024px) {
    .card-holder {
        flex-direction: column;
    }

    .card-holder > .card {
        width: 50%;
        height: 300px;
        padding: 0px;
        margin-left: 25%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 480px) {
    .card-holder > .card {
        width: 100%;
        margin-left: 0%;
    }

    .first {
        height: 300px !important;
    }

    .first h1, .first .description {
        width: 100%;
        font-size: 8vmin;
    }

    .first .description {
        font-size: 16px;
        margin: 25px 0px;
    }

    .second {
        padding-bottom: 30px;
    }
}
