@media screen and (max-width: 1024px) {
    header, section, footer {
        width: calc(100vw - 10%);
        padding: 0px 5%;
    }
    
    .left-half {
        width: 45%;
        margin-left: 5%;
    }
    
    .left-half h1 {
        font-size: 26px;
    }
    
    .right-half {
        margin-right: 5%;
    }
    
    .cta-wrapper {
        width: 100%;
        margin-top: 60px;
    }
    
    .cta-wrapper > h5, .cta-question {
        text-align: center;
    }
    
    .ways-to-login {
        width: 70%;
        padding: 0px;
        margin: 0px 15%;
        margin-top: 60px;
    }
    
    .footer-logo {
        width: 75%;
    }
    
    .credits {
        width: 100%;
        text-align: right;
    }
    
    .goTop {
        right: 5%;
    }
}

@media screen and (max-width: 900px) {
    header {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 9999;
        background-color: #FFF;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
    }
    
    header .logo {
        float: left;
        width: 200px;
        height: 60px;
        margin-top: 10px;
        background: url("../img/devlogo-blue.png") center no-repeat;
        background-size: contain;
    }

    header nav > .link {
        color: #999;
        opacity: 1;
    }

    header nav > .link:hover {
        color: #01aaed;
    }

    header .login {
        color: #01aaed;
        border: 1px solid #01aaed;
        opacity: 1;
    }

    header .login:hover{
        color: #FFF;
        background: #01aaed;
    }

    header .login svg {
        fill: #01aaed;
    }

    header .login:hover > svg {
        fill: #FFF;
    }
    
    nav {
        display: none;
        width: 100%;
    }
    
    .menu {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .carousel .card {
        width: 80%;
        margin: 50px 10%;
    }
    
    footer > div {
        width: 100%;
    }
}