/* QUERIES BASEADOS NA LARGURA */
@media screen and (max-width: 1024px) {
    header, section, footer {
        width: 90%;
        padding: 0px 5%;
    }
    
    .left-half {
        width: 45%;
    }
    
    .left-half h1 {
        font-size: 26px;
    }
    
    .right-half {
        right: 5%;
        height: 50%;
        background-size: 100%;
    }
    
    .diferenciais > .card {
        width: 33.3%;
    }
    
    .right-side .title {
        width: 75%;
    }
    
    .carousel > .card {
        width: 32%;
    }
    
    .call-to-action {
        background-size: cover;
    }
    
    .cta-wrapper {
        width: 100%;
        margin-top: 60px;
    }
    
    .cta-wrapper > h6, .cta-question {
        text-align: center;
    }
    
    .ways-to-login {
        width: 70%;
        padding: 0px;
        margin: 0px 15%;
        margin-top: 60px;
    }
    
    .footer-logo {
        width: 75%;
    }
    
    .credits {
        width: 100%;
        text-align: right;
    }
    
    .goTop {
        right: 5%;
    }
}

@media screen and (max-width: 900px) {
    header {
        position: fixed;
        width: 90%;
        height: auto;
        top: 0px;
        left: 0px;
        z-index: 9999;
        background-color: #FFF;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
    }
    
    header .logo, .detach .logo {
        float: left;
        margin: 10px 15px;
        width: 200px;
        height: 60px;
        background: url("https://devmind.io/assets/modules/home/img/devlogo-blue.png") center no-repeat;
        background-size: contain;
    }

    header nav > .link {
        color: #999;
        opacity: 1;
    }

    header nav > .link:hover {
        color: #01aaed;
    }

    header .login {
        color: #01aaed;
        border: 1px solid #01aaed;
        opacity: 1;
    }

    header .login:hover{
        color: #FFF;
        background: #01aaed;
    }

    header .login svg {
        fill: #01aaed;
    }

    header .login:hover > svg {
        fill: #FFF;
    }
    
    .desktop {
        display: none;
    }
    
    .menu {
        display: block;
    }
    
    .mobile {
        width: 50%;
    }
    
    .carousel > .card > .description {
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 840px) { 
    .first {
        height: 730px;
    }
    
    .left-half {
        width: 60%;
        margin-left: 20%;
        margin-top: 30px;
    }
    
    .left-half h1 {
        font-size: 23px;
        text-align: center;
    }
    
    .left-half p {
        width: 100%;
        font-size: 17px;
        text-align: center;
    }
    
    .left-half button {
        width: 50%;
        margin-left: 25%;
    }
    
    .right-half {
        width: 80%;
        right: 10%;
        top: auto;
        bottom: 0px;
    }
    
    .diferenciais {
        display: block;
    }
    
    .diferenciais > .card {
        float: left;
        width: 45%;
        height: 300px;
        margin-right: 5%;
    }
    
    .diferenciais > .card:nth-child(even) {
        margin-right: 0px;
    }
    
    .diferenciais > .card > svg {
        float: left;
        width: 50%;
        height: 48px;
        margin: 20px 25%;
    }
    
    .diferenciais > .card > .title, .diferenciais > .card > .description {
        width: 100%;
        font-size: 24px;
        text-align: center;
    }
    
    .diferenciais > .card > .description {
        font-size: 16px;
    }
    
    .third > .wrapper {
        height: auto;
        margin-bottom: 110px;
    }
    
    .left-side, .reverse .left-side {
        position: relative;
        float: left;
        width: 100%;
        height: 180px;
        background-size: contain;
        clear: both;
    }
    
    .right-side, .reverse .right-side {
        position: relative;
        float: left;
        width: 100%;
        min-height: 300px;
        height: auto;
    }
    
    .carousel {
        display: block;
    }
    
    .carousel > .card {
        width: 70%;
        margin: 120px 15%;
        margin-top: 0px;
    }
    
    .call-to-action {
        height: auto;
        padding-bottom: 100px;
    }
    
    .ways-to-login {
        width: 50%;
        margin: 0px 25%;
        margin-top: 50px;
        overflow: visible;
    }
    
    footer {
        display: block;
        height: auto;
    }
    
    footer > div {
        width: 100%;
        height: 130px;
        float: left;
    }
    
    .footer-logo {
        width: 50%;
        margin: 20px 25%;
    }
    
    .social {
        width: 64px;
        height: 64px;
    }
    
    .social > svg {
        width: 55px;
        height: 55px;
    }
    
    .credits {
        margin: 10px auto;
        text-align: center;
        font-size: 14px;
    }
}

@media screen and (max-width: 640px) {
    header .logo, .detach .logo {
        width: 50%;
    }
    
    .left-half {
        width: 90%;
        margin-left: 5%;
        margin-top: 30px;
    }
    
    .left-half button {
        width: 100%;
        margin-top: -10px;
        margin-left: 0%;
    }
    
    .second > h2 {
        width: 90%;
        margin-left: 5%;
        text-align: left;
    }
    
    .product-description {
        width: 90%;
        margin-left: 5%;
        letter-spacing: 0px;
        line-height: normal;
        font-size: 6vmin;
    }

    .ways-to-login {
        width: 80%;
        margin: 0px 10%;
        margin-top: 60px;
    }
    
    footer > div {
        height: auto;
        margin-bottom: 20px;
    }
    
    footer > div > .wrapper {
        position: relative;
        margin-top: 0px;
    }
    
    .footer-logo {
        float: left;
        width: 60%;
        margin: 20px 20%;
        margin-bottom: 0px;
    }
    
    .social {
        width: 40px;
        height: 40px;
    }
    
    .social > svg {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 480px) {
    .mobile {
        width: 80%;
    }
    
    .right-half {
        width: 90%;
        right: 5%;
        height: 250px;
    }
    
    .right-side .title, .right-side .description, .right-side .more {
        width: 100%;
        margin-left: 0px;
    }
    
    .diferenciais > .card, .diferenciais > .card:nth-child(even) {
        width: 90%;
        height: 260px;
        margin: 0px 5%;
    }

    .carousel {
        width: 100%;
        height: auto;
    }
    
    .carousel .card {
        width: 90%;
        margin: 50px 5%;
    }
    
    footer > div {
        width: 100%;
    }
}

@media screen and (max-width: 440px) {
    .ways-to-login > .wrapper {
        width: 100%;
        margin-left: 0%;
    }
}

@media screen and (max-width: 320px) {
    .first {
        height: 390px;
    }
    
    .right-half {
        display: none;
    }
    
    .left-side, .reverse .left-side {
        height: 139px;
    }
    
    .cta-question {
        font-size: 30px;
    }
    
    .ways-to-login {
        width: 100%;
        margin: 60px 0px;
        margin-bottom: 0px;
    }
}


/* QUERIES BASEADOS NA ALTURA */
@media screen and (min-height: 1024px) and (orientation: landscape) {
    .first {
        height: 500px;
        background-position: 0px -5px;
        background-size: 120% auto;
    }
    
    .left-half {
        width: 49%;
        margin-top: 120px;
    }
    
    .right-half {
        top: 176px;
    }
    
    .third > .wrapper {
        height: auto;
        padding-bottom: 50px;
    }
    
    .reverse .left-side, .reverse .right-side, .left-side, .right-side {
        height: 380px;
    }
}

@media screen and (min-height: 1080px) and (orientation: portrait) {
    .first {
        height: 500px;
        background-position: 0px -5px;
        background-size: 120% auto;
    }
    
    .left-half {
        width: 49%;
        margin-top: 120px;
    }
    
    .right-half {
        top: 176px;
    }
    
    .third > .wrapper {
        height: auto;
        padding-bottom: 50px;
    }
    
    .reverse .left-side, .reverse .right-side, .left-side, .right-side {
        height: 380px;
    }
}

@media screen and (max-height: 780px) and (orientation: portrait) {
    .first {
        height: calc(100vh - 80px);
    }
}

/* QUERIES ESPECIFICAS */
@media screen and (width: 1366px) and (height: 1024px) {
    .right-half {
        top: 135px;
    }
}