@font-face {
    font-family: "Brandonreg";
    src: url(https://devmind.io/assets/modules/editor-beta/Brandon_Grotesque/Brandon_reg.otf);
}

* {
	margin: 0px;
	padding: 0px;
	font-family: "Brandon Grotesque", "Brandonreg", sans-serif;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
	letter-spacing: 1px;
}

section {
	float: left;
	position: relative;
	width: calc(100vw - 20%);
	padding: 0px 10%;
}

.first {
	width: 100vw;
	padding: 0px;
	height: 85vh;
	background-color: #01aaed;
	background-image: url("https://i.imgur.com/QPYpOJR.jpg");
	background-size: cover;
	background-position: left center;
    transition: all 0.13s ease;
}

/* HEADER PADRÃO */
header {
	float: left;
	width: 80%;
	height: 79px;
	padding: 0px 10%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

header .logo {
	float: left;
	width: 200px;
	height: 60px;
	margin-top: 10px;
	background: url("../img/devlogo.png") center no-repeat;
}

header > nav {
	float: right;
}

nav > .link {
	float: left;
	margin-top: 29px;
	margin-left: 25px;
	text-decoration: none;
	color: #FFF;
	opacity: 0.75;
	font-size: 18px;
	transition: all 0.13s ease;
}

.link:hover {
	opacity: 1;
}

.login {
	margin-top: 17px;
	margin-left: 25px;
	padding: 10px;
	color: #FFF;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 3px;
	cursor: pointer;
	opacity: 0.85;
	transition: all 0.13s ease;
}

.login:hover {
	border: 1px solid #FFF;
	opacity: 1;
}

.login svg {
	float: left;
	width: 24px;
	height: 24px;
	fill: #FFF;
}

.login span {
	float: left;
	margin: 0px 10px;
	margin-top: 1px;
	font-size: 16px;
}

/* HEADER DESTACADO */
.detach {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background-color: #FFF;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
}

.detach .logo {
    float: left;
    width: 200px;
    height: 60px;
    margin-top: 10px;
    background: url("../img/devlogo-blue.png") center no-repeat;
    background-size: contain;
}

.detach nav > .link {
	color: #CCC;
	opacity: 1;
}

.detach nav > .link:hover {
	color: #01aaed;
}

.detach .login {
	color: #01aaed;
	border: 1px solid #01aaed;
	opacity: 1;
}

.detach .login:hover {
    color: #FFF;
	background: #01aaed;
}

.detach .login svg {
	fill: #01aaed;
}

.detach .login:hover > svg {
    fill: #FFF;
}

.left-half {
	float: left;
	width: 40%; 
	margin-top: 15vh;
	margin-left: 10%;
	color: #FFF;
}

.left-half h1 {
	float: left;
	width: 100%;
	font-size: 34px;
	margin-bottom: 25px;
}

.left-half p {
	width: 85%;
	letter-spacing: 1px;
	line-height: 20px;
	font-size: 18px;
}

.left-half button {
	letter-spacing: 1px;
	cursor: pointer;
	float: left;
	margin-top: 40px;
	padding: 10px 20px;
    font-size: 18px;
	color: #FFF;
	background: transparent;
    transition: all 0.13s linear;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 3px;
}

.left-half button:hover {
    background: #FFF;
    color: #01aaed;
}

.right-half {
	float: right;
	width: 40%;
	height: 60%;
	margin-right: 10%;
	margin-top: 11vh;
	background: center no-repeat url("../img/svg/paper-plane.svg");
	background-size: 50%;
}

/* SECTION 2 */
.second {
	margin: 30px 0px;
}

h2 {
    font-size: 32px;
    text-align: center;
	color: #01aaed;
}

.product-description {
    float: left;
    width: 80%;
    height: auto;
    margin: 50px 10%;
    color: #333;
    text-align: center;
    line-height: 44px;
    font-size: 30px;
}

.second > .wrapper {
    width: 80%;
    float: left;
    margin: 20px 10%;
}

.wrapper > .left, .wrapper > .right {
	float: left;
	width: 50%;
    height: auto;
    padding-bottom: 20px;
    background: #FFF;
}

.wrapper > .left ul, .wrapper > .right ul {
    width: 70%;
    height: auto;
    
    color: #FFF;
}

.wrapper > .left .title, .wrapper > .right .title {
	width: 100%;
    font-weight: 600;
    font-size: 22px;
    margin: 20px 0px;
    color: #01aaed;
    text-align: center;
}

.wrapper > .left .description, .wrapper > .right .description {
	float: left;
    width: 70%;
    margin: 0px 15%;
    color: #444;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.wrapper > .right {
	float: right;
	background: #0090c9;
}



/* TERCEIRA SEÇÃO */
.third {
	float: left;
	padding-bottom: 50px;
}

h3, h4 {
	width: 100%;
	font-size: 32px;
	text-align: center;
	color: #01aaed;
}

/* QUARTA SEÇÃO */
.fourth {
	float: left;
	padding-bottom: 50px;
}

.H4desc {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	color: #999;
}

.carousel {
	display: flex;
	justify-content: space-between;
	float: left;
	width: 100%;
	height: auto;
}

.carousel > .card {
	float: left;
	position: relative;
	width: 30%;
	height: auto;
	margin-top: 65px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
	border-radius: 10px;
	padding-bottom: 15px;
}

.carousel > .card > .img {
	position: absolute;
	top: -43px;
	left: 0px;
	right: 0px;
	margin: auto;
	width: 80px;
	height: 80px;
	border: 3px solid #FFF;
	border-radius: 100%;
	background-color: #01aaed;
}

.thiagosv {
    background-position: center;
    background-size: cover;
    background-image: url(../img/users/thiago.jpg);
}

.carousel > .card > .description {
	float: left;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	font-size: 20px;
	color: #555;
	padding: 20px 0px;
	padding-top: 60px;
}

.carousel > .card > .name, .carousel > .card > span {
	float: left;
	width: 70%;
	height: auto;
	margin-left: 15%;
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 16px;
	border-top: 1px solid #DDD;
}

.carousel > .card > .name > a {
    transition: all 0.13s linear;
    text-decoration: none;
    color: #000;
}

.carousel > .card > .name > a:hover {
    color: #01aaed;
}

.carousel > .card > span {
	border: none;
	padding: 0px;
	color: #999;
	font-size: 14px;
	display: block;
}

.pagination {
	display: flex;
	justify-content: center;
	float: left;
	width: 100%;
	height: auto;
	margin: 35px 0px;
}

.pagination > .dot {
	width: 16px;
	height: 16px;
	background: #DDD;
	border-radius: 100%;
	margin: 0px 10px;
	cursor: pointer;
}

.pagination > .dot:hover {
	background: #BBB;
}

.pagination > .selected, .pagination > .selected:hover {
	width: 16px;
	height: 16px;
	background: #01aaed;
	border-radius: 100%;
	margin: 0px 10px;
}

/* CALL TO ACTION */
.call-to-action {
	float: left;
	margin: 40px 0px;
	margin-bottom: 0px;
	width: calc(100vw - 20%);
	height: 450px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url(../img/bg-mobile.png) left 60% no-repeat;
    background-size: 100% auto;
}

.cta-wrapper {
	float: left;
	width: 40%;
	height: auto;
	margin-top: 170px;
}

.cta-wrapper > h5, .cta-question {
	color: #FFF;
	float: left;
	width: 100%;
	height: auto;
	font-weight: 500;
	margin-bottom: 6px;
}

h5 {
	font-size: 20px;
}

.cta-question {
	font-size: 44px;
}

/*.ways-to-login {
	float: right;
	width: 300px;
	height: 420px;
	padding: 20px;
	margin-top: -55px;
	background: #FFF;
	border-radius: 10px;
	overflow: hidden;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
}*/

.ways-to-login {
	float: right;
	width: 550px;
	height: auto;
	padding: 20px;
	margin-top: 90px;
	background: transparent;
	overflow: hidden;
}

.ways-to-login > .description {
	float: left;
	width: 100%;
	margin-top: 0px;
    font-size: 20px;
	color: #FFF;
	text-align: center;
}

.ways-to-login > .wrapper {
	width: 100%;
	float: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.bullet {
	float: left;
	width: 120px;
	height: 120px;
	margin-top: 45px;
	border-radius: 100%;
	background: #FFF;
	transition: all 0.13s ease;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
}

.bullet:hover {
	margin-top: 40px;
}

.bullet > svg {
	float: left;
	width: 70px;
	height: 70px;
	margin-left: 25px;
	margin-top: 25px;
	fill: #01aaed;
}

.disabled > svg {
    fill: #999;
}

footer {
    overflow: hidden;
	float: left;
	width: 80%;
	height: 100px;
    padding: 0px 10%;
    border-top: 1px solid #EEE;
	background: #FFF;
    display: flex;
    justify-content: center;
}

footer > div {
    float: left;
    position: relative;
    width: 32%;
    height: 100px;
}

.footer-header {
    width: 100%;
    float: left;
    color: #999;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
}

.footer-logo {
    float: left;
    width: 60%;
    height: auto;
    margin-top: 25px;
}

.credits {
    float: right;
    width: 60%;
    font-size: 15px;
    margin-top: 30px;
    color: #999;
}

footer > div > .wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 24px auto;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

.social {
    width: 40px;
    height: 40px;
    float: left;
    margin: 10px;
    margin-left: 0px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.13s ease;
}

.social:hover {
    background: #01aaed;
}

.social > svg {
    margin-top: 4px;
    transition: all 0.13s ease;
    fill: #888;
}

.social:hover > svg {
    fill: #FFF;
}

/* BOTÃO PARA LEVAR AO TOPO */
.goTop {
	position: fixed;
	display: none;
	width: 50px;
	height: 50px;
	right: 20px;
	bottom: 20px;
	border: none;
    cursor: pointer;
	background: #FFFFFF;
	border-radius: 100%;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
}

/* Scrollbars Personalizadas */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 
::-webkit-scrollbar-track {
    background-color: #EEEEEE;
}
 
::-webkit-scrollbar-thumb {
    background-color: #01aaed; 
}